.img1_container{
    position: relative;
    margin-top: 0px;
}
.text{
    position: absolute;
    top: 200px;
    left: 600px;
    color: white;
    border: 1px solid white;
    height: 150px;
    width: 250px;
}
.jane{
    font-size: 40px;
    position: absolute;
    left: 28px;
}
.photo{
    font-size: 25px;
    position: absolute;
    top: 58px;
    left: 21px;
}
.nav_item1{
    display: inline-block;
    padding: 4px;
    font-size: 18px;
    position: absolute;
    left: 0px;
    bottom: 2px;
}
.nav_item2{
    display: inline-block;
    padding: 4px;
    font-size: 18px;
    position: absolute;
    left: 95px;
    bottom: 2px;
}
.nav_item3{
    display: inline-block;
    padding: 4px;
    font-size: 18px;
    position: absolute;
    left: 190px;
    bottom: 2px;
}
.navbar{
    background-color: rgb(223, 220, 220);
    width: 19%;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    left: 590px;
    top: 597px;
}
.img1{
    margin-top: 50px;
    margin-left: 187px;
}
.form{
    margin-left: 180px;
    margin-top: 0px;
}